---
- name: Combine ranger configuration
  ansible.builtin.set_fact:
    ranger: "{{ _ranger | combine(ranger, recursive=True) }}"

- name: Run optional versionscheck
  ansible.builtin.include_tasks:
    file: 'versioncheck.yml'
  when: submodules_versioncheck|bool

- name: Update apt cache
  become: true
  ansible.builtin.apt:
    cache_valid_time: 3600
    update_cache: true
  when: ansible_facts['pkg_mgr'] == "apt"

- name: Install ranger
  block:
    - name: Install ranger
      become: true
      ansible.builtin.package:
        name: ranger
        state: present
  rescue:
    - name: Compile ranger if regular install failed
      ansible.builtin.include_tasks:
        file: 'compile_ranger.yml'
